html {
  scroll-behavior: smooth;
}

:root {
  --bg: white;
  --text: #111;
  --card: #f3f4f6;
  --primary: #6366f1;
}

body.dark {
  --bg: #0f172a;
  --text: #f1f5f9;
  --card: #1e293b;
}

body {
  margin: 0;
  font-family: system-ui;
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  position: sticky;
  top: 0;
  background: var(--bg);
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--text);
}

.nav-actions {
  display: flex;
  gap: 10px;
}

.menu-btn {
  display: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 8%;
  flex-wrap: wrap;
}

.hero h1 {
  font-size: 42px;
}

.hero h2 {
  color: var(--primary);
}

.profile {
  width: 260px;
  border-radius: 20px;
}

.btn {
  background: var(--primary);
  padding: 12px 18px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.btn.outline {
  background: transparent;
  border: 2px solid var(--primary);
}

.section {
  padding: 70px 8%;
  text-align: center;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  gap: 15px;
  margin-top: 20px;
}

.skills div {
  background: var(--card);
  padding: 15px;
  border-radius: 10px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px,1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: var(--card);
  padding: 20px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
}
.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: var(--card);
}

/* Mobile */
@media (max-width: 768px) {
  nav {
    display: none;
    position: absolute;
    top: 70px;
    background: var(--bg);
    width: 100%;
    left: 0;
    text-align: center;
  }

  nav.active {
    display: block;
  }

  nav a {
    display: block;
    padding: 15px;
  }

  .menu-btn {
    display: block;
  }
}
.socials {
  margin-top: 20px;
}

.socials a {
  margin: 0 10px;
  text-decoration: none;
  color: var(--primary);
  font-weight: 600;
}